body {background-image: url('https://img.freepik.com/free-vector/copy-space-blue-circuits-digital-background_23-2148821699.jpg');
 background-attachment: fixed;
  background-size: cover;}



#idk {background-color: #836FFF; text-decoration-color: #15F5BA;}

/*References:
https://www.flaticon.com/free-icon/robot_1395030
https://www.freepik.com/icon/robot_3662925
https://www.freepik.com/free-photos-vectors/digital-bg/2*/